/**
 * Includes all elements
 */

button {
  display: inline-block;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  margin: 0 .5rem;
  border-radius: .25rem;
  cursor: pointer;

  &:focus {
    outline: 0;
  }

  &.primary {
    color: #fff;
    background-color: #0275d8;

    &:hover {
      background-color: #0296FF;
    }
    &:active {
      background-color: #025282;
    }
  }

  &.close {
    float: right;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;

    &:hover {
      background-color: #E2E2E2;
    }
    &:active {
      background-color: #BABABA;
    }
  }

  &.disable {
    opacity: .4;
    text-shadow: 0 1px 0 #fff;
    cursor: default;

    &:hover {
      background-color: inherit;
    }
  }
}
