/**
 * Includes all elements
 */

.modal {
  background: #FFF;
  position: relative;
  top: auto;
  z-index: 0;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  max-width: 500px;
  margin: auto;
  margin-top: 50vh;
  transform: translateY(-50%);

  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;

  &.transition {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
  }

  > .modal-header {
    padding: 1rem;
    border-bottom: 1px solid rgba(0,0,0,.2);
    overflow: hidden;

    > .title {
      font-size: 1.5rem;
      font-weight: bold;
      margin: .5rem 1rem;
    }
  }

  > .modal-content {
    padding: 1rem;
  }

  > .modal-footer {
    padding: 1rem .5rem;
    border-top: 1px solid rgba(0,0,0,.2);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
